
    body { padding-top: 45px;


         }

    .campany-margin{
        margin-top: 80px;
        margin-left: 20%;


        }

    .l{

        margin-top: 200px;
        margin-left: 320px;

    }

    .client-margin{

        margin-top: 35px;

    }


   .color-title{

       color: #3763ff;
   }
 .magintop{

    margin-top:  80px;
 }

    .empty{
  margin-bottom: 100px;

    }



