@(customerForm: Form[mtnUsers])
@main("Add form"){
       @if(flash.containsKey("Success")){
           @flash.get("success");
       }
       @if(flash.containsKey("error")){
           @flash.get("error");
       }
        <form action="@routes.Application.saveAirtel()" method="post">
            Phone number :<input type="text" name="phoneNumber" class="form-control"><br />
            First name :<input type="text" name="firstName" class="form-control" ><br />
            Last name :<input type="text" name="lastName" class="form-control"><br />
                Amount :<input type="text" name="amount" class="form-control"><br />
              user:  <select type="text" name="client" class="form-control"> <option>A</option>
                    <option>B</option>
                    <option>C</option></select><br/>

            <button type="submit"  class="btn btn-warning">Save aitel</button>
        </form>
@if(customerForm.hasErrors) {
<div class="alert alert-danger" role="alert">
    @for(error <- customerForm.errors()) {
    <p>Error: @error._2.stream().findFirst().get().message()</p>
    }
</div>
}
}