@(data:mtnUsers,customerForm: Form[mtnUsers])

@main("selling airtime..") {

<div class="row">
    <div class="table-responsive col-md-7  col-md-offset-2  ">
        <table class="table table-bordered   " >


            <tbody>

            <tr bgcolor="#e6e6fa" >
                <td class=" color-title  " colspan="2"></td>
            </tr>
            <tr>
                <td width="200px"  >
                    <ul class="nav  nav-pills nav-tabs nav-stacked">
                        <li class="active "><a href="@routes.Application.profile()">Home</a></li>
                        <li><a href="#"> <span class="glyphicon glyphicon-user"></span>Profile</a></li>
                        <div class="empty"></div>

                        <li><a href="/balance"><span class="glyphicon glyphicon-comment span3 " ></span>Balance</a></li>
                        <li><a href="@routes.Store.show_storeForm()"><span class="glyphicon glyphicon-hand-down"></span>Purchase</a></li>
                        <li><a href="@routes.Application.MTNHistoryAirtime(1)"><span class="glyphicon glyphicon-folder-open "></span>History</a></li>
                        <li><a href="@routes.Power.show_powerForm()"><span class="glyphicon glyphicon-flash"></span>Sell Power</a></li>
                        <li><a href="@routes.Application.profile()"><span class="glyphicon glyphicon-phone"></span>Sell Airtime</a></li>
                        <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    </ul>
                </td>

                <td>
                    @if(flash.containsKey("success")) {
                    <div id="error-message" class="text-danger">
                        @flash.get("success")
                    </div>
                    }
                    <div class="col-md-12  client-margin">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Client account
                            </div>
                            <div class="panel-body"> <br/>

                                <form action="@routes.Application.update(data.id)"  method="post">


                                    <div class="form-group row  ">
                                        <label class="col-sm-2 form-control-label">Phone Number</label>
                                        <div class="col-sm-10">
                                            <input
                                                    name="phonenumber"
                                                    class="form-control"
                                                    type="text"
                                                    value="@data.phonenumber"
                                                    placeholder="Phone Number">
                                        </div>
                                    </div>


                                    <div class="form-group row  ">
                                        <label class="col-sm-2 form-control-label">First Name</label>
                                        <div class="col-sm-10">
                                            <input
                                                    name="firstname"
                                                    id="firstname"
                                                    minValue="2"
                                                    value="@data.firstname"
                                                    class="form-control"
                                                    type="text"
                                                    placeholder="First Name">
                                        </div>
                                    </div>
                                  <div class="form-group row  ">
                                        <label class="col-sm-2 form-control-label">First Name</label>
                                        <div class="col-sm-10">
                                            <input
                                                    name="lastname"
                                                    id="firstname"
                                                    minValue="2"
                                                    value="@data.lastname"
                                                    class="form-control"
                                                    type="text"
                                                    placeholder="First Name">
                                        </div>
                                    </div>


                                    <div class="form-group row  ">
                                        <label class="col-sm-2 form-control-label">Amount</label>
                                        <div class="col-sm-10">
                                            <input
                                                    name="amount"
                                                    id=""
                                                    value="@data.amount"
                                                    class="form-control"
                                                    type="number"
                                                    placeholder="Rwfr">
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <input type="submit" class="btn btn-danger  " value="Send">
                                        <input type="reset" class="btn btn-warning" value="Reset">
                                    </div>

                                </form>




                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


}