@(form: Form[signupInfo])

@main("Registration.."){


    <div class="row">
        <div class="table-responsive col-md-6  col-md-offset-3  ">


                <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title text-primary col-sm-offset-3"><i>Account information</i></h3>
       </div>
                    <div class="panel-body">
    @helper.form(routes.Signup.registerSubmition(),'role -> "form") {
        <div class="form-group row  ">
            <label class="col-sm-2 form-control-label">User Name</label>
            <div class="col-sm-10">
                <input
                name="username"
                id="username"
                class="form-control"
                type="text"
                placeholder="username">
            </div>
        </div>


        <div class="form-group row  ">
            <label class="col-sm-2 form-control-label">Email</label>
            <div class="col-sm-10">
                <input
                name="email"
                id="email"

                class="form-control"
                type="email"
                placeholder="Email">
            </div>
        </div>

        <div class="form-group row  ">
            <label class="col-sm-2 form-control-label">User level</label>
            <div class="col-sm-10">

                <select class="form-control"
                name="type"
                id="type"
                value="type"
                >
                    <option value="select">select ..</option>
                    <option value="vendor">vendor</option>
                    <option value="admin">admin</option>
                    <option value="supervisor">supervisor</option>
                </select>

            </div>
        </div>

        <div class="form-group row   ">
            <label class="col-sm-2 form-control-label">Password</label>
            <div class="col-sm-10">
                <input
                name="password"
                id="password"


                class="form-control"
                type="password"
                placeholder="Password">
            </div>
        </div>

        <div class="form-group row  ">
            <label class="col-sm-2 col-xl-2 form-control-label">Repeat password</label>
            <div class="col-sm-10">
                <input
                name="repeatPassword"
                id=""
                value=""
                class="form-control"
                type="password"
                placeholder="Repeat password">
            </div>
        </div>
        <div class=" form-group col-md-offset-2  ">
            <input type="submit" class="btn btn-primary " value="Sign Up">
            <a href="@routes.Application.index" ><input type="submit" class="btn btn-default " value="Cancel"></a>

           </div>
    }

     </div>
     </div>
    </div>
    </div>

}